* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-position: 100%;

}

.navbar {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.nav-brand {
    padding: 3%;
}

.nav-menu1 {
    display: flex;
    justify-content: space-around;
    padding: 3%;
    gap: 2rem;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: #d52941;
}

.nav-menu2 {
    display: flex;
    padding: 2%;
    list-style: none;
    gap: 1.50rem;
}

.nav-menu2 li:first-child {
    margin-top: 8%
}

.btn {
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.btn-register {
    background-color: #d52941;
    border: none;
    color: white;
    padding: 15px 32px;
    
}

.btn-register:hover {
    background-color: #eb0e2c;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #eb0e2c;
}

.content-container {
    margin: 0 auto;
}

.content-row {
    display: flex;;
}

.text-content {
    max-width: 45%;
    height: auto;
    margin: 4%;
    
}

.image-content {
    max-width: 55%;
    height: auto;
    display: block;
}

.responsive-img {
    height: 100%;
    width: 100%;
}

.bold-text {
    font-size: 1.5em;
}

.main-heading {
    font-size: 4em;
}

.highlight {
    color: #eb0e2c;
}

.emphasis-text {
    color: grey;
    margin-top: 1em;
}

.button-container {
    margin-top: 2.5em;
}

.btn-book {
    background-color: #d52941;
    border: 1px solid white;
    color: white;
    padding: 20px 38px;
}

.btn-book:hover {
    background-color: #eb0e2c;
}

.btn-learn {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 19px 38px;
}

.btn-learn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.form-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    margin: auto;
    padding: 3% 4%;
}

.form-alert {
    padding: 15px 20px;
    margin: 10px 0px 10px 0px;
    border-radius: 4px;
    background-color: #f44336;
    color: white;   
    display: none;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.form-container {
    margin-top: 4%;
}

.form-fields
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.field {
    display: flex;
    flex-direction: column;
    width:  calc(100% / 3 - 15px);
    padding-bottom: 20px;
}

.form-label {
    font-weight: 700;
    font-size: 1.15em;
    padding-bottom: 5px;
}

.form-input {
    width: 100%;
    height: 35px;
    border: 0.5px solid gray;
    padding: 22px;
    
}

.submitbtn {
    background-color: #d52941;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 32px;
}

.service-container {
    text-align: center;
    margin: 13% auto;
}

.service-text {
    font-size: x-large;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10% 10%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    max-width: 20%;
}

.service img {
    height: 150px;
    width: 150px;
}

@media screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        padding-top: 3%;
        padding-right: 20px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu1 {
        position: fixed;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 200px 0px 200px 0px;
        text-align: center;
       background-color: white;
        transition: 0.3s;
    }
    
    .nav-item {
        margin: auto 0;
    }

    .nav-menu1.active {
        left: 0;
    }

    .nav-menu2 {
        display: none;
    }

    .field {
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width: 800px) {
    .body {
        background-image: none;
    }

    .text-content{
        max-width: 100%;
        text-align: center;
    }
    
    .image-content {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    .field {
        width: 100%;
    }

}

@media screen and (max-width: 450px) {
    .btn-book {
        padding: 8px 8px;
    }

    .btn-learn {
        padding: 7px 7px;
    }
}