* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-position: 100% 0%;

}

.navbar {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.nav-brand {
    padding: 3%;
}

.nav-menu1 {
    display: flex;
    justify-content: space-around;
    padding: 3%;
    gap: 2rem;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: #d52941;
}

.nav-menu2 {
    display: flex;
    padding: 2%;
    list-style: none;
    gap: 1.50rem;
}

.nav-menu2 li:first-child {
    margin-top: 8%
}

.btn {
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.btn-register {
    background-color: #d52941;
    border: none;
    color: white;
    padding: 15px 32px;
    
}

.btn-register:hover {
    background-color: #eb0e2c;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #eb0e2c;
}

.content-container {
    margin: 0 auto;
}

.content-row {
    display: flex;;
}

.text-content {
    max-width: 45%;
    height: auto;
    margin: 4%;
    
}

.image-content {
    max-width: 55%;
    height: auto;
    display: block;
}

.responsive-img {
    height: 100%;
    width: 100%;
}

.bold-text {
    font-size: 1.5em;
}

.main-heading {
    font-size: 4em;
}

.highlight {
    color: #eb0e2c;
}

.emphasis-text {
    color: grey;
    margin-top: 1em;
}

.button-container {
    margin-top: 2.5em;
}

.btn-book {
    background-color: #d52941;
    border: 1px solid white;
    color: white;
    padding: 20px 38px;
}

.btn-book:hover {
    background-color: #eb0e2c;
}

.btn-learn {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 19px 38px;
}

.btn-learn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.form-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    margin: auto;
    padding: 3% 4%;
}

.form-alert {
    padding: 15px 20px;
    margin: 10px 0px 10px 0px;
    border-radius: 4px;
    background-color: #f44336;
    color: white;   
    display: none;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.form-container {
    margin-top: 4%;
}

.form-fields
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.field {
    display: flex;
    flex-direction: column;
    width:  calc(100% / 3 - 15px);
    padding-bottom: 20px;
}

.form-label {
    font-weight: 700;
    font-size: 1.15em;
    padding-bottom: 5px;
}

.form-input {
    width: 100%;
    height: 35px;
    border: 0.5px solid gray;
    padding: 22px;
    
}

.submitbtn {
    background-color: #d52941;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 32px;
}

.service-container {
    text-align: center;
    margin: 13% auto;
}

.service-text {
    font-size: x-large;
    text-align: center;
    letter-spacing: 1px;
}

.service-text p {
    color: gray;
    font-size: large;
    margin: auto 5%;
}

.services {
    display: flex;
    justify-content: space-between;
    margin: 8% 8%;
    flex-wrap: wrap;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    width: 28%;
}

.service img {
    height: 175px;
    width: 175px;
    max-width: 100%;
    height: auto;
}

.service p {
    font-size: large;
    color: gray;
    padding-top: 20px;
}

.showcase-cars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4.5% auto;
    padding-left: 3%;
    padding-right: 3%;
}

.pick-buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.btn-car {
    width: 100%;
    height: 65px;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f7f7f7; 
    cursor: pointer; 
    display: inline-block; 
    margin: 3px; 
    transition: background-color 0.3s;
}

.btn-car:hover {
    background-color: #eb0e2c
}

.selected {
    background-color: #d52941; 
    color: white; 
}


.car-image-container {
    text-align: center;
    flex: 3;
    margin-top: 8%;
}

.car-image-container img {
    max-width: 70%;
    height: auto; 
}


.pick-description {
    max-width: 100%;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    flex: 1;
}

.pick-description__price {
    background-color: #d52941;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.pick-description__table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.pick-description__table__col {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.pick-description__table__col span:first-child {
    font-weight: bold;
}

.btn-reserve {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #d52941;
    color: #fff;
    padding: 15px 0;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.btn-reserve:hover {
    background-color: #eb0e2c
}

.banner-container {
    background-color: #2d2d2d;
    padding: 5% 3%;
    margin-top: 10%;
    text-align: center;
}

.banner-content {
    color: white;
    font-size: xx-large;
}

.banner-content h1 {
    margin: 0px 0px 10px 0px
}

.banner-content span {
    color: red;
}

.three-cars {
    margin: 5% auto;
    display: flex;
    justify-content: center;
}

.three-cars img {
    max-width: 100%;
    height: auto;
}

.choose-us {
    padding: 0% 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.left-container {
    max-width: 40%;
    margin: 0 auto;
}

.left-container h4 {
    font-size: larger;
    padding: 10px 0px;
}

.left-container h1 {
    font-size: 3.5vw;
    padding: 10px 0px;
}

.left-container p {
    color: gray;
    padding: 10px 0px;
    margin: 10px 0px;
    font-size: large;
}


.btn-find  {
    background-color: #d52941;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px 0px;
}

.right-container {
    max-width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.right-content {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0px;
}

.right-image {
    padding: 20px;
}

.right-text {
    padding: 0px 5px;
}

.right-text h2{
    padding: 10px 0px;
}

.right-text p {
    color: gray;
    font-size: large;
    padding: 10px 0px;
}


@media screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        padding-top: 3%;
        padding-right: 20px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu1 {
        position: fixed;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 200px 0px 200px 0px;
        text-align: center;
       background-color: white;
        transition: 0.3s;
    }
    
    .nav-item {
        margin: auto 0;
    }

    .nav-menu1.active {
        left: 0;
    }

    .nav-menu2 {
        display: none;
    }

    .form-container {
        margin-top: 10%;
    }

    .field {
        width: calc(100% / 2 - 10px);
    }

    .showcase-cars {
        flex-direction: column;
    }

    .pick-buttons {
        margin: 4%;
    }
    .car-image-container,
    .pick-description {
        margin: 4% auto;
        width: 100%;
    }

    .btn-car {
        max-width: 100%;
    }

    .choose-us {
        flex-wrap: wrap;
    }

    .left-container {
        max-width: 70%;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }

    .right-container {
        max-width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 5% auto;
    }
    
    .right-content {
        max-width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-wrap: balance;
       margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    .body {
        background-image: none;
    }

    .content-container {
        margin: 5% auto;
    }

    .text-content{
        max-width: 100%;
        text-align: center;
    }
    
    .image-content {
        display: none;
    }

    .form-container {
        margin-top: 18%;
    }

    .service {
        width: 100%;
    }

    .banner-content {
        font-size: x-large;
    }
}

@media screen and (max-width: 530px) {
    .field {
        width: 100%;
    }

    .left-container {
        max-width: 100%;
    }

    .right-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

@media screen and (max-width: 450px) {
    .content-container {
        margin: 20% auto;
        align-items: center;
        text-align: center;
    }

    .form-container {
        margin-top: 25%;
    }

    
    .btn-book {
        padding: 8px 8px;
    }

    .btn-learn {
        padding: 7px 7px;
    }

    .banner-container {
        margin-top: 15%;   
    }
}